@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["CurrentCounter"]</h1>
    <h1 class="display-4">@ViewData["CurrentFormattedCounter"]</h1>
    <h1 class="display-4">@ViewData["AreServicesEqual"]</h1>
</div>